.ProjectDetail main {
    padding: 2rem;
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido */
    text-align: left; /* Alinear el texto a la izquierda */
}

.ProjectDetail h1,
.ProjectDetail h2,
.ProjectDetail h3,
.ProjectDetail h4,
.ProjectDetail h5,
.ProjectDetail h6 {
    color: #ff00ff; /* Color vibrante */
    text-shadow: 0 0 5px #ff00ff; /* Efecto de neón */
}

.ProjectDetail p,
.ProjectDetail ul,
.ProjectDetail ol {
    color: #f0f0f0; /* Texto claro */
}

.ProjectDetail a {
    color: #61dafb;
    text-decoration: none;
}

.ProjectDetail a:hover {
    text-shadow: 0 0 5px #61dafb; /* Efecto de neón */
}

.ProjectDetail iframe {
    width: 100%;
    height: 500px;
    border: none;
    margin-top: 1rem;
}
