.Home main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 5%;
}

.Home h1,
.Home h2,
.Home h3,
.Home h4,
.Home h5,
.Home h6 {
    color: #ffcc00;
    text-shadow: none;
}

.Home p,
.Home ul,
.Home ol {
    color: #e0e0e0;
}

.Home a {
    color: #ffcc00;
    text-decoration: none;
}

.Home a:hover {
    text-shadow: none;
}

/* Media queries for mobile */
@media (max-width: 768px) {
    .Home main {
        padding: 1rem;
    }
}
