.Header {
    background-color: #282c34;
    color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    border-bottom: 5px solid #61dafb; /* Línea de neón */
    font-family: "Press Start 2P", cursive; /* Fuente retro */
}

.Header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.Header nav ul li {
    margin: 0 1.5rem; /* Más espacio entre los elementos */
}

.Header nav ul li a {
    color: #ff00ff; /* Color vibrante */
    text-decoration: none;
    text-shadow: 0 0 5px #ff00ff; /* Efecto de neón */
    font-size: 1.2rem; /* Tamaño de fuente más grande */
}
