Footer {
    background-color: #1a1a1a;
    color: #e0e0e0;
    text-align: center;
    padding: 2rem 1rem; /* 2rem arriba y abajo, 1rem a los lados */
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 5px solid #444; /* Línea más seria */
    font-family: "Georgia", serif; /* Fuente más seria y retro */
}
