.App {
    text-align: center;
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #f0f0f0; /* Texto claro */
    font-family: "Press Start 2P", cursive; /* Fuente retro */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    filter: drop-shadow(0 0 10px #61dafb); /* Efecto de neón */
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #f0f0f0;
    border-bottom: 5px solid #61dafb; /* Línea de neón */
}

.App-link {
    color: #ff00ff; /* Color vibrante */
    text-shadow: 0 0 5px #ff00ff; /* Efecto de neón */
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
