body {
    margin: 0;
    font-family: "Press Start 2P", cursive; /* Fuente retro */
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #f0f0f0; /* Texto claro */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
