body {
    margin: 0;
    font-family: "Courier New", serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

main {
    margin-bottom: 4rem;
}

/* Media queries for mobile */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    main {
        margin-bottom: 6rem;
    }
}
